{% extends 'base/main_base.html' %}
{% load thumbnail %}
{% load i18n %}
{% load static %}
{% block content %}
        <!-- Alpha Slider -->
        <div class="industify_slider_alpha swiper-container-horizontal" data-desc-show="yes" data-category-show="yes" data-nav-types="square" data-autoplay-switch="enabled" data-autoplay-time="8000" data-effect="cards" data-progress="enabled" data-box-pos="cr" data-img-effect="enabled" data-text-effect="enabled">
            <!-- Alpha Slider: pagination -->
            <div class="swiper-pagination swiper-pagination-progressbar"><span class="swiper-pagination-progressbar-fill" style="transform: translate3d(0px, 0px, 0px) scaleX(0.75) scaleY(1); transition-duration: 1000ms;"></span></div>
            <!-- /Alpha Slider: pagination -->
            <!-- Alpha Slider: wrapper -->
                <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-5709px, 0px, 0px);">
                    {% for slide in home.sliders.all %}
                        <div class="swiper-slide" data-swiper-slide-index="{{ forloop.counter0 }}" style="width: 1903px;">
                            <div class="item">
                                <div class="img_holder" data-bg-img="{{ slide.image.url }}" style="background-image: url({{ slide.image.url }});"></div>
                                <div class="title_holder">
                                    <div class="inner">
                                        <div class="in">
                                            <h3><span>{{ slide.title }}</span></h3>
                                            <div class="desc">
                                                <span>
                                                    {{ slide.description }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            <!-- Alpha Slider: wrapper -->
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        <!-- /Alpha Slider -->
        <!-- Principles Modern -->
        <div class="fn_cs_principles_modern">
            <div class="container">
                <div class="inner">
                    <div class="shape"><span class="shape1"></span><span class="shape2"></span></div>
                    <ul class="fn_cs_miniboxes">
                        {% for feature in home.features.all  %}
                        <li>
                            <div class="item">
                                <div class="title_holder">
                                    <h3>{{ feature.title }}</h3>
                                    <p>{{ feature.description }}</p>
                                    <span class="icon">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 31.49 31.49" style="enable-background:new 0 0 31.49 31.49;" xml:space="preserve" class="fn__svg replaced-svg">
<path d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111  C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587  c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"></path>
</svg>
								 </span>
                                </div>
                                <div class="number_holder">0{{ forloop.counter }}</div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Principles Modern -->
        <!-- About Section -->
        <div class="about_section">
            <!-- About Shortcode -->
            <div class="fn_cs_about">
                <div class="container">
                    <div class="a_inner">
                        <div class="leftpart">
                            <div class="title_holder">
                                <h3 class="title">{% trans "Vision of Ehsan Group" %}</h3>
                                {{ home.about|safe }}
                            </div>
                        </div>
                        <div class="rightpart">
                            <div class="r_inner" id="scene" style="transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">
                                <div class="layer border" data-depth="0.3" style="position: relative; display: block; left: 0px; top: 0px; transform: translate3d(6.075px, -18.9719px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">
                                    <span class="span1"></span>
                                    <span class="span2"></span>
                                    <img src="{% static 'img/thumb/500-560.jpg' %}" alt="">
                                </div>
                                <div class="img_holder layer" data-depth="0.5" style="position: absolute; display: block; left: 0px; top: 0px; transform: translate3d(10.125px, -31.6198px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">
                                    <img src="{% static 'img/thumb/500-560.jpg' %}" alt="">
                                    <div class="abs_img" data-bg-img="{% static 'img/about/about.webp' %}" style="background-image: url({% static 'img/about/about.webp' %});"></div>
                                </div>
                                <div class="dots layer" data-switch="disable" data-depth="0.9" style="position: absolute; display: block; left: 0px; top: 0px; transform: translate3d(18.225px, -56.9156px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">
                                    <img src="{% static 'img/thumb/500-560.jpg' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /About Shortcode -->
        </div>
        <!-- /About Section -->
        <!-- Service Query Shortcode -->
        <div class="fn_cs_service_query" data-mobile="disable" data-column-count="4">
            <div class="top_bar">
                <div class="t_inner">
                    <h3>{% trans "Ehsan Group Investment" %}</h3>
                    <span>{% trans "Ehsan Group start invest in start-ups in seed stage in 2020" %}</span>
                </div>
            </div>
            <div class="service_part">
                <div class="owl-carousel owl-loaded">
                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(-1903px, 0px, 0px); transition: all 0s ease 0s; width: 5709px;">
                        {% for item in industry  %}
                        <div class="owl-item " style="width: 475.75px;">
                            <div class="item">
                                <a class="full_link" href="{% url 'industry:detail_view' item.slug %}"></a>
                                <div class="img_holder">
                                    <img src="{% static 'img/thumb/480-700.jpg' %}" alt="">
                                        <div class="abs_img" data-fn-bg-img="{{ item.image_thumbnail.url }}" style="background-image: url({{ item.image_thumbnail.url }});"></div>
                                </div>
                                <div class="title">
                                    <h3>{{ item.title }}</h3>
                                </div>
                                <div class="view_more">
                                    <span class="more_link">
                                        <span class="text">{% trans "View More" %}</span>
                                        <span class="arrow"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 31.49 31.49" style="enable-background:new 0 0 31.49 31.49;" xml:space="preserve" class="fn__svg replaced-svg">
                                            <path d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111  C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587  c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"></path>
                                            </svg></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- /Service Query Shortcode -->
        <!-- Service Section -->
        <div class="service_section">
            <!-- About with Rating Shortcode -->
            <div class="fn_cs_about_with_rating">
                <div class="container">
                    <div class="awr_inner">
                        <div class="left_part">
                            <div class="title_holder">
                                <h3>{% trans "Mission of Ehsan Group" %}</h3>
                                {{ home.mission|safe }}
                            </div>
                        </div>
                        <div class="right_part">
                            <div class="r_inner">
                                <div class="top_section">
                                    <div class="badge_holder">
                                        <div class="badge_left">
                                            <div class="b_title">
                                                <h3>{% trans "One of the regional leading" %}<br>{% trans "Corporations" %}</h3>
                                            </div>
                                            <div class="b_desc"><span class="year">{% trans "50" %}</span><span class="text">{% trans "Years of Experience" %}</span>
                                            </div>
                                        </div>
                                        <div class="badge_right" data-bg-img="{% static 'img/service/right-image.jpg' %}" style="background-image: url({% static 'img/service/right-image.jpg' %});"></div>
                                    </div>
                                </div>
                                <div class="bottom_section">
                                    <div class="list">
                                        <ul>
                                            <li>
                                                <div class="item">
													<span class="icon">
														<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 26 26" enable-background="new 0 0 26 26" class="fn__svg replaced-svg">
  <path d="m.3,14c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5 0.3-0.7l1.4-1.4c0.4-0.4 1-0.4 1.4,0l.1,.1 5.5,5.9c0.2,0.2 0.5,0.2 0.7,0l13.4-13.9h0.1v-8.88178e-16c0.4-0.4 1-0.4 1.4,0l1.4,1.4c0.4,0.4 0.4,1 0,1.4l0,0-16,16.6c-0.2,0.2-0.4,0.3-0.7,0.3-0.3,0-0.5-0.1-0.7-0.3l-7.8-8.4-.2-.3z"></path>
</svg>
													</span>
                                                    <p>{% trans "Always be HONEST" %}</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item">
										  			<span class="icon">
													 	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 26 26" enable-background="new 0 0 26 26" class="fn__svg replaced-svg">
  <path d="m.3,14c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5 0.3-0.7l1.4-1.4c0.4-0.4 1-0.4 1.4,0l.1,.1 5.5,5.9c0.2,0.2 0.5,0.2 0.7,0l13.4-13.9h0.1v-8.88178e-16c0.4-0.4 1-0.4 1.4,0l1.4,1.4c0.4,0.4 0.4,1 0,1.4l0,0-16,16.6c-0.2,0.2-0.4,0.3-0.7,0.3-0.3,0-0.5-0.1-0.7-0.3l-7.8-8.4-.2-.3z"></path>
</svg>
										  			</span>
                                                    <p>{% trans "Always be LEARNING" %}</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item">
										  			<span class="icon">
														<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 26 26" enable-background="new 0 0 26 26" class="fn__svg replaced-svg">
  <path d="m.3,14c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5 0.3-0.7l1.4-1.4c0.4-0.4 1-0.4 1.4,0l.1,.1 5.5,5.9c0.2,0.2 0.5,0.2 0.7,0l13.4-13.9h0.1v-8.88178e-16c0.4-0.4 1-0.4 1.4,0l1.4,1.4c0.4,0.4 0.4,1 0,1.4l0,0-16,16.6c-0.2,0.2-0.4,0.3-0.7,0.3-0.3,0-0.5-0.1-0.7-0.3l-7.8-8.4-.2-.3z"></path>
</svg>
										 			</span>
                                                    <p>{% trans "Show RESPECT" %}</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /About with Rating Shortcode -->
        </div>
        <!-- /Service Section -->
        <!-- Call to Action -->
        <div class="fn_cs_call_to_action">
            <div class="container">
                <div class="cta_holder">
                    <div class="title_holder">
                        <h3>{% trans "We will Make Your Dream Come True" %}</h3>
                        <p>{% trans "We are focused on sustainable business that delivers the best possible project results." %}</p>
                    </div>
                    <div class="link_holder">
                        <a href="{% url 'contact:page' %}">{% trans "Our Responsibility" %}</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Call to Action -->
        <!-- Testimonial Section -->
        <div class="testimonial_section">
            <div class="overlay"></div>
            <!-- Single Testimonial Shortcode -->
            <div class="fn_cs_single_testimonial">
                <div class="container">
                    <div class="inner">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512.5px" height="512.5px" viewBox="0 0 512.5 512.5" style="enable-background:new 0 0 512.5 512.5;" xml:space="preserve" class="fn__svg replaced-svg">
	<path d="M112.5,208.25c61.856,0,112,50.145,112,112s-50.144,112-112,112s-112-50.145-112-112l-0.5-16   c0-123.712,100.288-224,224-224v64c-42.737,0-82.917,16.643-113.137,46.863c-5.817,5.818-11.126,12.008-15.915,18.51   C100.667,208.723,106.528,208.25,112.5,208.25z M400.5,208.25c61.855,0,112,50.145,112,112s-50.145,112-112,112   s-112-50.145-112-112l-0.5-16c0-123.712,100.287-224,224-224v64c-42.736,0-82.918,16.643-113.137,46.863   c-5.818,5.818-11.127,12.008-15.916,18.51C388.666,208.723,394.527,208.25,400.5,208.25z"></path>
    </svg>
                        <div class="content_holder">
                            {{ home.quote|safe }}
                            <h5>{% trans "CEO of Ehsan Group." %}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Single Testimonial Shortcode -->
        </div>
        <!-- /Testimonial Section -->
        <!-- Project Sticky Full -->
        <div class="fn_cs_project_sticky_full">
            <div class="inner">
                <div class="left_part">
                    <div class="fn_cs_sticky_section">
                        <h3>{% trans "Sub-industries" %}</h3>
                        {{ home.sub_industries|safe }}
                    </div>
                </div>
                <div class="right_part">
                    <div class="fn_cs_sticky_section">
                        <ul>
                            {% for item in company %}
                            <li>
                                <div class="item">
                                    <div class="img_holder">
                                        <div class="abs_img" data-fn-bg-img="{{ item.image_thumbnail.url }}" style="background-image: url({{ item.image_thumbnail.url }});"></div>
                                        <a href="{% url 'company:detail_view' item.slug %}"></a>
                                    </div>
                                    <div class="title_holder">
                                        <h3><a href="{% url 'company:detail_view' item.slug %}">{{ item.title }}</a>
                                        </h3>
                                        <span class="desc">{{ item.seo_description|truncatewords:35 }}</span>
                                        <p>
                                            <a href="{% url 'company:detail_view' item.slug %}">
                                                <span class="text">{% trans "View More" %}</span>
                                                <span class="arrow">
										            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 31.49 31.49" style="enable-background:new 0 0 31.49 31.49;" xml:space="preserve" class="fn__svg replaced-svg">
<path d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111  C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587  c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"></path>
</svg>
									            </span>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <!-- /Project Sticky Full -->
        <!-- Blog Section -->
        <div class="blog_section">
            <div class="overlay" data-bg-img="{% static 'img/blog/map.png' %}" style="background-image: url({% static 'img/blog/map.png' %});"></div>
            <!-- Main Title -->
            <div class="fn_cs_main_title">
                <div class="container">
                    <div class="title_holder">
                        <h3>{% trans "News" %}</h3>
                    </div>
                </div>
            </div>
            <!-- /Main Title -->
            <!-- Triple Blog Modern Shortcode -->
            <div class="fn_cs_triple_blog_modern fn_alpha">
                <div class="container">
                    <div class="inner">
                        <ul>
                            {% for item in news %}
                            <li>
                                <div class="item">
                                    <div class="img_holder" data-bg-img="{{ item.thumbnail.url }}" style="background-image: url({{ item.thumbnail.url }});">
                                        <div class="time">
                                            <span></span>
                                            <h3>{{ item.publish|date:"d" }}</h3><h5>{{ item.publish|date:"M" }}</h5><h5>{{ item.publish|date:"Y" }}</h5>
                                        </div>
                                        <a href="{% url 'news:detail_view' item.slug %}"></a>
                                            <img src="{{ item.thumbnail.url }}" alt="{{ item.title }}" />
                                    </div>
                                    <div class="title_holder">
                                        <h3><a href="{% url 'news:detail_view' item.slug %}">{{ item.title }}</a>
                                        </h3>
                                        <p class="t_footer"><a href="{% url 'news:detail_view' item.slug %}">{% trans "Read More" %}</a></p>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /Triple Blog Modern Shortcode -->
        </div>
        <!-- /Blog Section -->
{% endblock %}