{% extends 'base/main_base.html' %}
{% load thumbnail %}
{% load static %}
{% block seo_tags %}
    <meta name="description" content="{{ home.seo_description }}"/>
    <meta property="og:locale" content="en"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ home.title }}"/>
    <meta property="og:description" content="{{ home.seo_description }}"/>
    <meta property="og:url" content="{% url 'page:home' %}"/>
    <meta name="keywords" content="{{ home.keywords }}">
{% endblock seo_tags %}
{% block title %}{{ home.title }}{% endblock title %}
{% block content %}
<section class="text-center overflow-hidden py-0" data-zanim-timeline="{}" data-zanim-trigger="scroll">
    <div class="bg-holder overlay overlay-2 parallax banner-desktop" style="background-image:url({{ home.header_img.url }});" data-rellax-percentage="0.5"></div>
    <div class="bg-holder overlay overlay-2 parallax banner-mobile" style="background-image:url({{ home.header_img_mobile.url }});" data-rellax-percentage="0.5"></div>
    <!--slider-->
    <div class="header-overlay"></div>
    <div class="container">
      <div class="d-flex flex-center vh-100">
        <div class="header-overlay"></div>
        <div class="header-text">
          <div class="overflow-hidden pb-3">
            <img class="img-fluid logo" src="{% static 'img/EHGH.svg' %}" data-zanim-xs='{"duration":2,"delay":0}' alt="{{ home.title }}">
          </div>
          <div class="overflow-hidden">
            <p class="text-uppercase text-400 ls-3 mt-2" data-zanim-xs='{"duration":2,"delay":0.1}'>{{ home.sub_title }}</p>
          </div>
        </div>
      </div>
      <div class="header-indicator-down"><a class="indicator indicator-down opacity-75" href="#brands"><span class="indicator-arrow indicator-arrow-one" data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"ease":"Back.easeOut","duration":1,"delay":1.5}'></span></a></div>
    </div>
  </section>
  <!--/end slider-->
  <!--our brands-->
  <section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" style="scroll-margin-top:-25px" id="brands">
    <div class="container">
      <div class="row mb-4" data-zanim-timeline="{}">
        <div class="col">
          <div class="overflow-hidden">
            <h2 class="fs-md-5" data-zanim-xs="{&quot;duration&quot;:1.5,&quot;delay&quot;:0}" style="transform: translate(0px, 0px); opacity: 1;">our brands</h2>
          </div>
          <div class="overflow-hidden">
            <p class="fs--1 text-uppercase text-black ls-1 mb-0" data-zanim-xs="{&quot;duration&quot;:1.5,&quot;delay&quot;:0.1}" style="transform: translate(0px, 0px); opacity: 1;">we plan, design and build high quality products</p>
          </div>
          <div class="overflow-hidden">
            <hr class="hr-short bg-black opacity-100" data-zanim-xs="{&quot;duration&quot;:1.5,&quot;delay&quot;:0.2}" style="transform: translate(0px, 0px); opacity: 1;">
          </div>
        </div>
      </div>
      <div class="row g-2 position-relative thumbnail-grid-container" id="selector">
        <div class="swiper theme-slider" data-swiper='{"autoplay":true, "spaceBetween":30,"loop":true,"slidesPerView":1,"breakpoints":{"670":{"slidesPerView":2},"1200":{"slidesPerView":3}}}'>
          <div class="swiper-wrapper">
            {% for brand in brands %}
            <div class="swiper-slide">
              <a href="{% url "brands:detail_view" brand.slug %}">
                <img class="w-100 rounded img-fluid" src="{{ brand.thumbnail.url }}" alt="{{ brand.title }}">
              </a>
            </div>
            {% endfor %}
          </div>
        </div>  
      </div>
    </div>
    <!-- end of .container-->
  </section>
  <!--/end our brands-->
  <section class="py-7 text-center" data-zanim-timeline="{}">
    <div class="bg-holder overlay overlay-2 banner-desktop" style="background-image:url({{ home.statistics_banner.url }});"></div>
    <div class="bg-holder overlay overlay-2 banner-mobile" style="background-image:url({{ home.statistics_banner_mobile.url }});"></div>
    <!--/.bg-holder-->
    <div class="container">
      <div class="row mb-4">
        <div class="col">
          <div class="overflow-hidden">
            <h2 class="fs-sm-5 text-white mb-1 mb-lg-2" data-zanim-xs="{&quot;duration&quot;:1.5,&quot;delay&quot;:0}" style="transform: translate(0px, 0px); opacity: 1;">do you know</h2>
          </div>
          <div class="overflow-hidden">
            <p class="fs--1 text-uppercase text-white ls-1 mb-0" data-zanim-xs="{&quot;duration&quot;:1.5,&quot;delay&quot;:0.1}" style="transform: translate(0px, 0px); opacity: 1;">Who We Are</p>
          </div>
          <div class="overflow-hidden">
            <hr class="hr-short bg-white" data-zanim-xs="{&quot;duration&quot;:1.5,&quot;delay&quot;:0.2}" style="transform: translate(0px, 0px); opacity: 1;">
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="row">
            {% for item in home.statistics.all %}
            <div class="col-md-4 mb-4 mb-lg-0">
              <div class="overflow-hidden">
                <h3 class="text-white font-base font-50 fw-normal mb-1" data-countup="{&quot;endValue&quot;:{{ item.data }}}">{{ item.data }}</h3>
              </div>
              <div class="overflow-hidden">
                <p class="text-uppercase text-white fw-semi-bold ls-2 mb-0">{{ item.title }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->
  </section>
  <section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" style="scroll-margin-top:-25px">
    <div class="container">
      <div class="row mb-4" data-zanim-timeline="{}">
        <div class="col">
          <div class="overflow-hidden">
            <h2 class="fs-sm-5 mb-2" data-zanim-xs="{&quot;duration&quot;:1.5,&quot;delay&quot;:0}" style="transform: translate(0px, 0px); opacity: 1;">about us</h2>
          </div>
          <div class="overflow-hidden">
            <p class="text-uppercase fs--1 text-black ls-1 mb-0" data-zanim-xs="{&quot;duration&quot;:1.5,&quot;delay&quot;:0.1}" style="transform: translate(0px, 0px); opacity: 1;">Our company, in the simplest terms</p>
          </div>
          <div class="overflow-hidden">
            <hr class="hr-short border-black" data-zanim-xs="{&quot;duration&quot;:1.5,&quot;delay&quot;:0.2}" style="transform: translate(0px, 0px); opacity: 1;">
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-md-4 text-md-end">
          <h5 class="ls-2 mb-3">We Value creativity</h5>
          <p class="mb-0">{{ home.about|safe }}</p>
        </div>
        <div class="col-md-4 px-lg-4 my-4 my-md-0">
          {% thumbnail home.about_img "300x285" crop="center" as im %}
          <img class="rounded img-fluid w-100 w-sm-75 w-md-100" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="About-EHGH">
          {% endthumbnail %}
        </div>
        <div class="col-md-4 text-md-start">
          <h5 class="ls-2 mb-3">We Value High-Quality</h5>
          <p class="mb-0">{{ home.about2|safe }}</p>
        </div>
      </div>
    </div>
    <!-- end of .container-->
  </section>
  <section class="py-8 py-md-10 text-center">
    <div class="bg-holder overlay-2 overlay banner-desktop" style="background-image:url({{ home.video_banner.url }});background-position: 63% 50%;"></div>
    <div class="bg-holder overlay-2 overlay banner-mobile" style="background-image:url({{ home.video_banner_mobile.url }});background-position: 63% 50%;"></div>
    <!--/.bg-holder-->
    {% if home.video %}
    <div class="container">
      <div class="row justify-content-center" data-zanim-timeline="{}">
        <div class="col-lg-8">
          <div class="row align-items-center">
            <div class="col-md-5 text-md-end">
              <h2 class="font-base text-white mb-0 fs-3 lh-1"><span class="d-block" data-zanim-xs="{&quot;from&quot;:{&quot;opacity&quot;:0,&quot;x&quot;:-30},&quot;to&quot;:{&quot;opacity&quot;:1,&quot;x&quot;:0},&quot;duration&quot;:1.5,&quot;delay&quot;:0}" style="transform: translate(0px, 0px); opacity: 1;">Watch our</span><span class="d-block" data-zanim-xs="{&quot;from&quot;:{&quot;opacity&quot;:0,&quot;x&quot;:-30},&quot;to&quot;:{&quot;opacity&quot;:1,&quot;x&quot;:0},&quot;duration&quot;:1.5,&quot;delay&quot;:0.1}" style="transform: translate(0px, 0px); opacity: 1;">video</span></h2>
            </div>
            <div class="col-md-2 my-3 my-md-0">
              <a class="video-modal btn btn-outline-white hvr-sweep-top rounded-circle p-0 btn-play mx-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <svg class="svg-inline--fa fa-play fa-w-14" data-fa-transform="grow-1 right-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="play" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="" style="transform-origin: 0.5625em 0.5em;">
                  <g transform="translate(224 256)"><g transform="translate(64, 0)  scale(1.0625, 1.0625)  rotate(0 0 0)">
                    <path fill="currentColor" d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z" transform="translate(-224 -256)"></path>
                  </g></g>
                </svg>
              </a>
              <!--/.bg-modal-->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <video src="{{ home.video.url }}" poster="" controls="" controlslist="noremoteplayback noplaybackrate" class="w-100 video-height rounded-2" __idm_id__="532481"></video>
                  </div>
                </div>
              </div>
              <!--/.bg-modal-->
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <!-- end of .container-->
  </section>
  <section id="blog">
    <div class="container">
      <div class="row">
        <div class="col text-center mb-4" data-zanim-timeline="{}">
          <div class="overflow-hidden">
            <h2 class="fs-md-5" data-zanim-xs="{&quot;duration&quot;:1.5,&quot;delay&quot;:0}" style="transform: translate(0px, 0px); opacity: 1;">NEWS</h2>
          </div>
          <div class="overflow-hidden">
            <p class="fs--1 text-uppercase text-black ls-1 mb-0" data-zanim-xs="{&quot;duration&quot;:1.5,&quot;delay&quot;:0.1}" style="transform: translate(0px, 0px); opacity: 1;">Latest news of EHGH</p>
          </div>
          <div class="overflow-hidden">
            <hr class="hr-short bg-black" data-zanim-xs="{&quot;duration&quot;:1.5,&quot;delay&quot;:0.2}" style="transform: translate(0px, 0px); opacity: 1;">
          </div>
        </div>
      </div>
      <div class="swiper theme-slider" data-swiper='{"spaceBetween":30,"loop":true,"slidesPerView":1,"breakpoints":{"670":{"slidesPerView":2},"1200":{"slidesPerView":3}}}'>
        <div class="swiper-wrapper">
          {% for item in news %}
          <div class="swiper-slide">
            <div class="h-100 mb-4">
              <a href="{% url "news:detail_view" item.slug %}">
                {% thumbnail item.thumbnail "347x214" crop="center" as im %}
                <img class="img-fluid w-100 rounded-top" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ item.slug }}">
                {% endthumbnail %}
              </a>
              <div class="p-3 border rounded-bottom border-top-0">
                <h5 class="font-base text-transform-none fw-medium lh-1"><a class="text-black" href="{% url "news:detail_view" item.slug %}">{{ item.title|truncatechars:20 }}</a></h5>
                <p>{{ item.description|safe|truncatechars:150 }}</p><a class="text-dark fw-semi-bold" href="{% url "news:detail_view" item.slug %}">Read more<svg class="svg-inline--fa fa-angle-right fa-w-8 ms-1 text-900" data-fa-transform="down-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="" style="transform-origin: 0.25em 0.625em;"><g transform="translate(128 256)"><g transform="translate(0, 64)  scale(1, 1)  rotate(0 0 0)"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z" transform="translate(-128 -256)"></path></g></g></svg><!-- <span class="fas fa-angle-right ms-1 text-900" data-fa-transform="down-2"></span> Font Awesome fontawesome.com --></a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="swiper-nav">
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
    <!-- end of .container-->
  </section>
{% endblock content %}

