{% load static %}
<section class="bg-1100 py-6 pb-9 px-3 px-lg-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 pe-lg-4 mb-4 mb-lg-0">
        <h5 class="text-white mb-3">Our Mission</h5>
        <p class="text-700">{{ info.mission|truncatewords:40 }}</p>
        <ul class="list-inline mb-0">
          {% for social in info.socials.all %}
            <li class="list-inline-item me-0"><a class="text-900 hover-color-white pe-2" href="#!"><span class="{{ social.icon }}"></span></a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-6 col-md-3 ps-lg-4 mb-4 mb-lg-0">
            <h5 class="text-white mb-3">Helpful Link</h5>
            <ul class="list-unstyled mb-0">
              {% for item in info.links.all %}
              <li class="mb-1"><a class="text-700 hover-color-white" href="{{ item.link }}">{{ item.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-6 col-md-3 ps-4 mb-4 mb-lg-0">
            <h5 class="text-white mb-3">Helpful Link</h5>
            <ul class="list-unstyled mb-0">
              {% for item in info.links2.all %}
              <li class="mb-1"><a class="text-700 hover-color-white" href="{{ item.link }}">{{ item.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-md-6 ps-md-4">
            <h5 class="text-white mb-3">FROM THE BLOG</h5>
            <ul class="list-unstyled mb-0">
              {% for news in latest %}
              <li class="mb-3"><a class="text-700 hover-color-white" href="pages/single-post.html">{{ news.title }}</a>
                <p class="text-900 hover-color-white mb-0">{{ news.publish|date:"d M, Y" }}</p>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- end of .container-->
</section>
<footer class="footer text-center bg-black py-3 position-absolute w-100 bottom-0">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-md-auto">
        <p class="mb-0">Made with<span class="fas fa-heart mx-2"></span>by <a class="footer-link" href="https://farzinshams.com/" target="_blank">Farzin</a></p>
      </div>
    </div>
  </div>
</footer>
<a class="btn-back-to-top" href="#top"><img src="{% static 'img/line-icons/upload-arrow.svg' %}" width="8" alt=""></a>