{% load static%}
{% load i18n %}
        <!-- Site Footer -->
        <footer class="industify_fn_footer">
            <div class="top_footer">
               <div class="top_footer_img" data-fn-bg-img="{% static 'img/footer/bg.jpg' %}" style="background-image: url({% static 'img/footer/bg.jpg' %});"></div>
               <!-- TRIPLE WIDGET -->
               <div class="footer_widget">
                  <div class="container">
                     <div class="inner">
                        <ul class="widget_area">
                           <li>
                              <div class="item">
                                 <div class="logo">
                                     <a href="{% url 'page:home' %}"><img src="{{ info.logo_light.url }}" alt=""></a>
                                 </div>
                                 <div class="textwidget">
                                     <p>{{ info.description }}</p>
                                 </div>
                              </div>
                           </li>
                           <!-- removed li -->
                           <!-- removed li -->
                           <li>
                              <div class="item">
                                  <div class="wid-title"><span>{% trans "Helpful Links" %}</span></div>
                                  <div class="widget_nav_menu">
                                      <ul class="menu">
                                        {% for link in info.links.all %}
                                        <li><a href="{{ link.link }}">{{ link.title }}</a></li>
                                        {% endfor %}
                                      </ul>
                                  </div>
                              </div>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <!-- /TRIPLE WIDGET -->
            </div>
            <!-- BOTTOM -->
            <div class="footer_bottom">
               <div class="container">
                  <div class="footer_bottom_in">
                     <div class="bottom_widget">
                         <div class="widget_nav_menu">
                             <ul class="menu">
                                 <li><a href="{% url 'page:home' %}">{% trans "Home" %}</a></li>
                                 <li><a href="{% url 'industry:list_view' %}">{% trans "Industries" %}</a></li>
                                 <li><a href="{% url 'about:page' %}">{% trans "About" %}</a></li>
                                 <li><a href="{% url 'contact:page' %}">{% trans "Contact" %}</a></li>
                                 <li><a href="#">{% trans "Career" %}</a></li>
                             </ul>
                         </div>
                     </div>
                     <div class="footer_copyright">
                         <p>
                             © 1934 – 2022 Ehsan Group, LCC. All rights reserved. Design and developed by,
                             <a href="https://farzinshams.com" target="_blank">Farzin Shams</a>
                         </p>
                     </div>
                     <a class="industify_fn_totop" href="#">
                         <span class="top"></span>
                         <span class="text">To Top</span>
                     </a>
                  </div>
               </div>
            </div>
            <!-- /BOTTOM -->
         </footer>
        <!-- /Site Footer -->
    </div>
    <!-- /Wrapper -->
</div>
<!-- /Wrapper All -->