{% load static%}
<!-- Header -->
<div class="industify_fn_header">
	<!-- Header: Bottom Panel -->
	<div class="industify_fn_header">
        <!-- Header: Bottom Panel -->
        <div class="header_inner">
            <div class="menu_logo">
                <a href="index.html">
                    <img class="desktop_logo" src="{{ info.logo.url }}" alt="Industry HTML Template">
                    {% comment %} <img class="desktop_logo_dark" src="{% static 'img/logo-dark.png' %}" alt="Industry HTML Template"> {% endcomment %}
                </a>
            </div>
            <div class="menu_nav">
                <ul class="industify_fn_main_nav vert_nav">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="industries.html">Industries</a>
                        <ul class="sub-menu">
                            <li><a href="industry-1.html">Investment in Mining</a></li>
                            <li><a href="industry-2.html">Investment in Steel</a></li>
                            <li><a href="industry-3.html">Modern Investment</a></li>
                            <li><a href="industry-4.html">International Investment</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                    <li>
                        <a href="https://www.irantalent.com/en/company/ehsan-group/94129db2-17f4-487d-bee1-d6ccc20ed1c4/overview" target="_blank">Career</a>
                    </li>
                </ul>
            </div>
            <div class="toll_free_lang">
                <div class="lang_switcher">
                    <span class="click">En</span>
                    <ul>
                        <li class="active"><span>En</span></li>
                        <!-- <li><a href="#"><span>Ar</span></a></li> -->
                        <li><a href="https://ehsan-group.com/fa"><span>Fa</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Header: Bottom Panel -->
    
    </div>
	<!-- /Header: Bottom Panel -->

</div>
        <!-- /Header -->

        <!-- Mobile Menu -->
        <div class="industify_fn_mobilemenu_wrap">
   <!-- LOGO & HAMBURGER -->
   <div class="logo_hamb">
	  <div class="in">
		 <div class="menu_logo">
			<a href="https://ehsan-group.com/index.html"><img src="{% static 'img/logo-light.png' %}" alt="Industry HTML Template"></a>
		 </div>
		 <div class="hamburger hamburger--collapse-r">
			<div class="hamburger-box">
			   <div class="hamburger-inner"></div>
			</div>
		 </div>
	  </div>
   </div>
   <!-- /LOGO & HAMBURGER -->
   <!-- MOBILE DROPDOWN MENU -->
   <div class="mobilemenu">
	  <div>
		 <ul class="vert_menu_list">
			<li>
				<a href="https://ehsan-group.com/index.html">Home</a>
			</li>
			 <li class="menu-item-has-children">
				 <a href="https://ehsan-group.com/industries.html">Industries</a>
				 <ul class="sub-menu">
					 <li><a href="https://ehsan-group.com/industry-1.html">Investment in Mining</a></li>
					 <li><a href="https://ehsan-group.com/industry-2.html">Investment in Steel</a></li>
					 <li><a href="https://ehsan-group.com/industry-3.html">Modern Investment</a></li>
					 <li><a href="https://ehsan-group.com/industry-4.html">International Investment</a></li>
				 </ul>
			 </li>
			 <li>
				 <a href="https://ehsan-group.com/about.html">About</a>
			 </li>
			 <li>
				 <a href="https://ehsan-group.com/contact.html">Contact</a>
			 </li>
			 <li>
				 <a href="https://ehsan-group.com/#">Career</a>
			 </li>
		 </ul>
	  </div>
   </div>
   <!-- /MOBILE DROPDOWN MENU -->
</div>
        <!-- /Mobile Menu -->