{% load static%}
{% load i18n %}
<div class="industify_fn_wrapper_all" {% if request.resolver_match.url_name == 'home' %} data-nav-skin="transdark"{% endif %}>
    <div class="industify_fn_wrapper">
        <!-- Header -->
        <div class="industify_fn_header">
            <!-- Header: Bottom Panel -->
            <div class="industify_fn_header">
                <!-- Header: Bottom Panel -->
                <div class="header_inner">
                    <div class="menu_logo">
                        <a href="{% url 'page:home' %}">
                            <img class="desktop_logo" src="{{ info.logo_light.url }}" alt="Industry HTML Template">
                            <img class="desktop_logo_dark" src="{{ info.logo_dark.url }}" alt="Industry HTML Template">
                        </a>
                    </div>
                    <div class="menu_nav">
                        <ul class="industify_fn_main_nav vert_nav">
                            <li>
                                <a href="{% url 'page:home' %}">{% trans "Home" %}</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="{% url 'industry:list_view' %}">{% trans "Industries" %}</a>
                                <ul class="sub-menu">
                                    {% for item in industry %}
                                    <li><a href="{% url 'industry:detail_view' item.slug %}">{{ item.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>
                                <a href="{% url 'about:page' %}">{% trans "About" %}</a>
                            </li>
                            <li>
                                <a href="{% url 'contact:page' %}">{% trans "Contact" %}</a>
                            </li>
                            <li>
                                <a href="https://www.irantalent.com/en/company/ehsan-group/94129db2-17f4-487d-bee1-d6ccc20ed1c4/overview" target="_blank">{% trans "Career" %}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="toll_free_lang">
                        <div class="lang_switcher">
                            <span class="click">En</span>
                            <ul>
                                <li class="active"><span>En</span></li>
                                <!-- <li><a href="#"><span>Ar</span></a></li> -->
                                <li><a href="https://ehsan-group.com/fa"><span>Fa</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /Header: Bottom Panel -->
            
            </div>
            <!-- /Header: Bottom Panel -->

        </div>
                <!-- /Header -->

                <!-- Mobile Menu -->
                <div class="industify_fn_mobilemenu_wrap">
        <!-- LOGO & HAMBURGER -->
        <div class="logo_hamb">
            <div class="in">
                <div class="menu_logo">
                    <a href="{% url 'page:home' %}"><img src="{{ info.logo_light.url }}" alt="Industry HTML Template"></a>
                </div>
                <div class="hamburger hamburger--collapse-r">
                    <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /LOGO & HAMBURGER -->
        <!-- MOBILE DROPDOWN MENU -->
        <div class="mobilemenu">
            <div>
                <ul class="vert_menu_list">
                    <li>
                        <a href="{% url 'page:home' %}">{% trans "Home" %}</a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="{% url 'industry:list_view' %}">{% trans "Industries" %}</a>
                        <ul class="sub-menu">
                            <li><a href="https://ehsan-group.com/industry-1.html">Investment in Mining</a></li>
                            <li><a href="https://ehsan-group.com/industry-2.html">Investment in Steel</a></li>
                            <li><a href="https://ehsan-group.com/industry-3.html">Modern Investment</a></li>
                            <li><a href="https://ehsan-group.com/industry-4.html">International Investment</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'about:page' %}">{% trans "About" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'contact:page' %}">{% trans "Contact" %}</a>
                    </li>
                    <li>
                        <a href="https://ehsan-group.com/#">{% trans "Career" %}</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /MOBILE DROPDOWN MENU -->
        </div>
        <!-- /Mobile Menu -->