{% load static %}
<script src="{% static 'vendors/popper/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/anchorjs/anchor.min.js' %}"></script>
<script src="{% static 'vendors/is/is.min.js' %}"></script>
<script src="{% static 'vendors/bigpicture/BigPicture.js' %}"></script>
<script src="{% static 'vendors/countup/countUp.umd.js' %}"></script>
<script src="{% static 'vendors/progressbar/progressbar.min.js' %}"></script>
<script src="{% static 'vendors/hover-dir/hoverDir.min.js' %}"></script>
<script src="{% static 'vendors/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'vendors/isotope-packery/packery-mode.pkgd.min.js' %}"></script>
<script src="{% static 'vendors/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'vendors/lodash/lodash.min.js' %}"></script>
<script src="{% static 'vendors/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'vendors/gsap/gsap.js' %}"></script>
<script src="{% static 'vendors/gsap/customEase.js' %}"></script>
<script src="{% static 'vendors/glightbox/glightbox.min.js' %}"></script>
<script src="{% static 'js/theme.js' %}"></script>