{% load static %}
<!-- Scripts -->
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/justified.js' %}"></script>
<script type="text/javascript" src="{% static 'js/waypoints.js' %}"></script>
<script type="text/javascript" src="{% static 'js/countto.js' %}"></script>
<script type="text/javascript" src="{% static 'js/magnific-popup.js' %}"></script>
<script type="text/javascript" src="{% static 'js/kenburnsy.js' %}"></script>
<script type="text/javascript" src="{% static 'js/isotope.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lightgallery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/swiper.js' %}"></script>
<script type="text/javascript" src="{% static 'js/parallax.js' %}"></script>
<script type="text/javascript" src="{% static 'js/owl-carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/init.js' %}"></script>
<!-- /Scripts -->