{% load render_partial %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="smartsystemco.com">
    <meta name="description" content="Ehsan Group, as a leading economic enterprise in Iran with over half a century experience in the fields of industry, mining, trade, and investment.">
    <title>Ehsan Group | Leading Economic Enterprise</title>
{% include 'base/_header_refrences.html'%}    
</head>
<body>
{% include 'base/shared/preloader.html' %}  
<div class="industify_fn_wrapper_all" data-nav-skin="transdark">
<div class="industify_fn_wrapper">
{% render_partial 'page:head' %}
{% block content%}{% endblock content %}
{% render_partial 'page:foot' %}
{% include 'base/_footer_refrences.html'%}
</body>
</html>