{% load render_partial %}
{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="farzinshams.com">
    <meta property="og:site_name" content="Ehsan Group | Leading Economic Enterprise" />
    <link rel="icon"  href="{% static 'img/ehsan_group_favicon.png' %}">
    <title>{% block title %}{% trans "Ehsan Group | Leading Economic Enterprise" %}{% endblock title %}</title>
    <meta name="description" content="{% block description %}Ehsan Group, as a leading economic enterprise in Iran with over half a century experience in the fields of industry, mining, trade, and investment.{% endblock description %}">
{% include 'base/_header_refrences.html'%}    
</head>
<body>
{% include 'base/shared/preloader.html' %}  
{% render_partial 'page:head' %}
{% block content%}{% endblock content %}
{% render_partial 'page:foot' %}
{% include 'base/_footer_refrences.html'%}
</body>
</html>