{% load render_partial %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="smartsystemco.com">
    <meta name="description" content="Ehsan Group, as a leading economic enterprise in Iran with over half a century experience in the fields of industry, mining, trade, and investment.">
    <title>Ehsan Group | Leading Economic Enterprise</title>

{% include 'base/_header_refrences.html'%}    
</head>
<body>

{% block content%}{% endblock content %}
{% include 'base/_footer_refrences.html'%}
</body>
</html>