{% extends 'base/main_base.html' %}
{% load thumbnail %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Ehsan Group | Industries" %}{% endblock title %}
{% block content %}
<!-- Page Title -->
<div class="industify_fn_pagetitle">
    <div class="container">
        <div class="title_holder">
            <h3>{% trans "Industries" %}</h3>
            <div class="industify_fn_breadcrumbs">
                <ul>
                    <li><a href="{% url 'page:home' %}" title="Home">{% trans "Home" %}</a></li>
                    <li class="separator"><span></span></li>
                    <li><span class="bread-current">{% trans " Industries" %}</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /Page Title -->
<!-- Sidebar Page -->
<div class="industify_fn_sidebarpage">
    <div class="container">
        <div class="s_inner">
            <!-- Main Sidebar: Left -->
            <div class="industify_fn_leftsidebar">
                <ul class="industify_fn_service_list">
                    {% for item in industry %}
                    <li>
                        <div class="item">
                            <div class="item_in">
                                <div class="img_holder">
                                    {% thumbnail item.image "500x500" as im %}
                                        <div class="img_abs" data-fn-bg-img="{{ im.url }}" style="background-image: url({{ im.url }});"></div>
                                    {% endthumbnail %}
                                    <a href="{% url 'industry:detail_view' item.slug %}"></a>
                                </div>
                                <div class="title">
                                    <h3><a href="{% url 'industry:detail_view' item.slug %}">{{ item.title }}</a></h3>
                                    <p>{{ item.seo_description|safe }}</p>
                                </div>
                                <div class="read_more">
                                    <a href="{% url 'industry:detail_view' item.slug %}">{% trans "Read More" %}</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <div class="center">
                    <ul class="page">
                        {% for page in paginator.page_range %}
                        <li><a class="page-btn{% if page == request.GET.page|default:1|add:0 %} active-page{% endif %}" href="?page={{ page }}">{{ forloop.counter }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- /Main Sidebar: Left -->
            <!-- Main Sidebar: Right -->
            <div class="industify_fn_rightsidebar">
                <!-- Service List -->
                <div class="service_list_as_function">
                    <div class="title">
                        <h3>{% trans "Sub-industries" %}</h3>
                    </div>
                    <div class="list_holder">
                        <ul>
                            {% for each in latest %}
                                <li><a href="{% url 'industry:detail_view' each.slug %}">{{ each.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- /Service List -->
                <!-- Get Sidebar -->
                <div class="industify_fn_sidebar">
<div class="industify_fn_sidebar_in">

<div class="widget_block">
    <div class="industify_fn_widget_estimate">
        <div class="img_holder">
            <span class="helper1" style="border-left-width: 80px; border-top-width: 55px;"></span>
            <span class="helper2" style="border-right-width: 220px; border-top-width: 55px;"></span>
            <span class="helper3" style="border-left-width: 80px; border-top-width: 80px;"></span>
            <span class="helper4" style="border-right-width: 220px; border-top-width: 80px;"></span>
            <span class="helper5" style="border-left-width: 80px; border-top-width: 80px;"></span>
            <span class="helper6" style="border-right-width: 220px; border-top-width: 80px;"></span>
            <div class="abs_img" data-fn-bg-img="{% static 'img/sidebar.jpg'%}" style="background-image: url({% static 'img/sidebar.jpg'%});"></div>
        </div>
        <div class="bfwe_inner">
            {% include 'base/shared/contact_sidebar.html'%}
        </div>
    </div>
</div>

</div>
</div>
                <!-- /Get Sidebar -->


            </div>
            <!-- Main Sidebar: Right -->

        </div>
    </div>
</div>
<!-- /Sidebar Page -->
{% endblock %}