/* prettier-ignore */
/*# sourceMappingURL=user.css.map */
.center{
    text-align: center;
}

@media (max-width: 992px) {
    #top-logo {
        display: none;
    }
      
    #top-logo2 {
        display: block;
        opacity: 1;
    }
}


#top-logo, #top-logo2 {
    transition: opacity 200ms ease-in-out;
}

.hidden-opacity {
    opacity: 0;
    pointer-events: none;
}

.hidden-display {
    display: none;
}

.logo{
    width: 15rem;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 60%!important;
        /* margin: 1.75rem auto; */
    }
}

@media (min-width: 768px) {
    .modal-dialog {
        max-width: 60%!important;
        /* margin: 1.75rem auto; */
    }
    .banner-mobile {
        display: none;
    }
    .logo{
        width: 25rem;
    }
}

.font-50{
    font-size: 50px !important;
}