{% extends 'base/main_base.html' %}
{% load thumbnail %}
{% load static %}
{% block content %}
      <!-- ============================================-->
      <!-- <section> begin ============================-->
        <section class="text-center overflow-hidden py-0" data-zanim-timeline="{}" data-zanim-trigger="scroll">
            <div class="bg-holder overlay  parallax" style="background-image:url({% static 'img/header-9.jpg' %});">
            </div>
            <!--/.bg-holder-->
            <div class="container-fluid">
              <div class="header-overlay"></div>
              <div class="position-relative pt-10 pb-8">
                <div class="header-text">
                  <div class="overflow-hidden">
                    <h1 class="display-3 fs-7 text-white fw-lighter ls-2" data-zanim-xs='{"duration":2,"delay":0}'>About Us</h1>
                  </div>
                  <div class="overflow-hidden">
                    <div class="d-flex justify-content-center" data-zanim-xs='{"duration":2,"delay":0.1}'>
                      <nav aria-label="breadcrumb">
                        <ol class="breadcrumb text-uppercase ls-2">
                          <li class="breadcrumb-item"><a class="text-400 hover-color-white" href="{% url "page:home" %}">Home</a></li>
                          <li class="breadcrumb-item active" aria-current="page">About Us</li>
                        </ol>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end of .container-->
          </section>
          <!-- <section> close ============================-->
          <!-- <section> begin ============================-->
            <section class="pt-3 pt-lg-5 pb-6 pb-lg-8 text-center" style="scroll-margin-top:-25px">
              <div class="container">
                <div class="row align-items-center">
                  <div class="">
                    <h5 class="ls-2 mb-3">we're creative</h5>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>
                </div>
              </div>
              <!-- end of .container-->
            </section>
          <!-- <section> close ============================-->
          <!-- <section> begin ============================-->
          <section class="text-center" id="team">
            <div class="container">
              <div class="row">
                <div class="col mb-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                  <div class="overflow-hidden">
                    <h2 class="fs-md-5" data-zanim-xs='{"delay":0}'>meet the team</h2>
                  </div>
                  <div class="overflow-hidden">
                    <p class="fs--1 text-uppercase text-black ls-1 mb-0" data-zanim-xs='{"delay":0.1}'>meet the reign team</p>
                  </div>
                  <div class="overflow-hidden">
                    <hr class="hr-short bg-black" data-zanim-xs='{"delay":0.2}' />
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-lg-10">
                  <div class="row">
                    <div class="col-6 col-md-3 col-lg-3 px-2 team-item mb-4">
                      <div class="hoverbox w-75 rounded-circle overflow-hidden mx-auto"><img class="img-fluid" src="../assets/img/team/1.jpg" alt="" />
                        <div class="hoverbox-content">
                          <div class="d-flex align-items-end justify-content-center h-100">
                            <ul class="list-inline team-item-social-icons">
                              <li class="list-inline-item"><a class="text-white" href="#!"><span class="fab fa-facebook-f" data-fa-transform="grow-3"></span></a></li>
                              <li class="list-inline-item"><a class="text-white" href="#!"><span class="fab fa-twitter" data-fa-transform="grow-3"></span></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <h6 class="fw-bold mt-2 mb-1"><a class="text-black" href="#!">Kit Harington</a></h6>
                      <h6 class="ls-1">CEO &amp; Founder</h6>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3 px-2 team-item mb-4">
                      <div class="hoverbox w-75 rounded-circle overflow-hidden mx-auto"><img class="img-fluid" src="../assets/img/team/2.jpg" alt="" />
                        <div class="hoverbox-content">
                          <div class="d-flex align-items-end justify-content-center h-100">
                            <ul class="list-inline team-item-social-icons">
                              <li class="list-inline-item"><a class="text-white" href="#!"><span class="fab fa-google-plus-g" data-fa-transform="grow-3"></span></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <h6 class="fw-bold mt-2 mb-1"><a class="text-black" href="#!">Emilla Clarke</a></h6>
                      <h6 class="ls-1">CTO</h6>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3 px-2 team-item mb-4">
                      <div class="hoverbox w-75 rounded-circle overflow-hidden mx-auto"><img class="img-fluid" src="../assets/img/team/4.jpg" alt="" />
                        <div class="hoverbox-content">
                          <div class="d-flex align-items-end justify-content-center h-100">
                            <ul class="list-inline team-item-social-icons">
                              <li class="list-inline-item"><a class="text-white" href="#!"><span class="fab fa-linkedin-in" data-fa-transform="grow-3"></span></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <h6 class="fw-bold mt-2 mb-1"><a class="text-black" href="#!">Perter Dinklage</a></h6>
                      <h6 class="ls-1">Designer</h6>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3 px-2 team-item mb-4">
                      <div class="hoverbox w-75 rounded-circle overflow-hidden mx-auto"><img class="img-fluid" src="../assets/img/team/3.jpg" alt="" />
                        <div class="hoverbox-content">
                          <div class="d-flex align-items-end justify-content-center h-100">
                            <ul class="list-inline team-item-social-icons">
                              <li class="list-inline-item"><a class="text-white" href="#!"><span class="fab fa-facebook-f" data-fa-transform="grow-3"></span></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <h6 class="fw-bold mt-2 mb-1"><a class="text-black" href="#!">Tim Burton</a></h6>
                      <h6 class="ls-1">Executive</h6>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3 px-2 team-item mb-4 mb-lg-0">
                      <div class="hoverbox w-75 rounded-circle overflow-hidden mx-auto"><img class="img-fluid" src="../assets/img/team/12.jpg" alt="" />
                        <div class="hoverbox-content">
                          <div class="d-flex align-items-end justify-content-center h-100">
                            <ul class="list-inline team-item-social-icons">
                              <li class="list-inline-item"><a class="text-white" href="#!"><span class="fab fa-twitter" data-fa-transform="grow-3"></span></a></li>
                              <li class="list-inline-item"><a class="text-white" href="#!"><span class="fab fa-instagram" data-fa-transform="grow-3"></span></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <h6 class="fw-bold mt-2 mb-1"><a class="text-black" href="#!">John Bradley</a></h6>
                      <h6 class="ls-1">Developer</h6>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3 px-2 team-item mb-4 mb-lg-0">
                      <div class="hoverbox w-75 rounded-circle overflow-hidden mx-auto"><img class="img-fluid" src="../assets/img/team/5.jpg" alt="" />
                        <div class="hoverbox-content">
                          <div class="d-flex align-items-end justify-content-center h-100">
                            <ul class="list-inline team-item-social-icons">
                              <li class="list-inline-item"><a class="text-white" href="#!"><span class="fab fa-instagram" data-fa-transform="grow-3"></span></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <h6 class="fw-bold mt-2 mb-1"><a class="text-black" href="#!">Peter Jackson</a></h6>
                      <h6 class="ls-1">Software Engineer</h6>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3 px-2 team-item mb-4 mb-lg-0">
                      <div class="hoverbox w-75 rounded-circle overflow-hidden mx-auto"><img class="img-fluid" src="../assets/img/team/7.jpg" alt="" />
                        <div class="hoverbox-content">
                          <div class="d-flex align-items-end justify-content-center h-100">
                            <ul class="list-inline team-item-social-icons">
                              <li class="list-inline-item"><a class="text-white" href="#!"><span class="fab fa-twitter" data-fa-transform="grow-3"></span></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <h6 class="fw-bold mt-2 mb-1"><a class="text-black" href="#!">Alfie Allen</a></h6>
                      <h6 class="ls-1">Web Designer</h6>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3 px-2 team-item mb-4 mb-lg-0">
                      <div class="hoverbox w-75 rounded-circle overflow-hidden mx-auto"><img class="img-fluid" src="../assets/img/team/10.jpg" alt="" />
                        <div class="hoverbox-content">
                          <div class="d-flex align-items-end justify-content-center h-100">
                            <ul class="list-inline team-item-social-icons">
                              <li class="list-inline-item"><a class="text-white" href="#!"><span class="fab fa-linkedin-in" data-fa-transform="grow-3"></span></a></li>
                              <li class="list-inline-item"><a class="text-white" href="#!"><span class="fab fa-youtube" data-fa-transform="grow-3"></span></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <h6 class="fw-bold mt-2 mb-1"><a class="text-black" href="#!">Gemma Whelan</a></h6>
                      <h6 class="ls-1">Software Engineer</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end of .container-->
          </section>
          <!-- <section> close ============================-->
          <!-- <section> begin ============================-->
          <section class="text-center pt-0" data-zanim-timeline="{}" data-zanim-trigger="scroll">
    
            <div class="container">
              <div class="overflow-hidden">
                <h4 class="fw-medium mb-1" data-zanim-xs='{"duration":1.5,"delay":0}'>Make a project With Us</h4>
              </div>
              <div class="overflow-hidden">
                <p data-zanim-xs='{"duration":1.5,"delay":0.1}'>Our Team is always ready to help you</p>
              </div>
              <div data-zanim-xs='{"from":{"opacity":0,"y":30},"to":{"opacity":1,"y":0},"duration":1.5,"delay":0.3}'><a class="btn btn-dark btn-sm hvr-sweep-top mt-2" href="#!">Start Now</a></div>
            </div>
            <!-- end of .container-->
          </section>
          <!-- <section> close ============================-->
{% endblock content %}