{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="author" content="smartsystemco.com">
	<meta name="description" content="Ehsan Group, as a leading economic enterprise in Iran with over half a century experience in the fields of industry, mining, trade, and investment.">
	<title>Ehsan Group | 404 Page</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <!-- /Google Fonts -->
    <!-- Styles -->
    <!-- <link type="text/css" rel="stylesheet" href="css/base.css?ver=3"/>
    <link type="text/css" rel="stylesheet" href="css/style.css?ver=3"/> -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
        <!-- 404 Page -->
        <div class="industify_fn_error_page">
            <div class="container">
                <div class="error_box max550">
                    <div class="title_holder">
                        <h1>404</h1>
                        <h3>Page Not Found</h3>
                        <a class="page-btn" href="https://ehsan.group/">Home Page</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /404 Page -->
    </div>
    <!-- /Wrapper -->
</div>
</body>
</html>