{% extends 'base/main_base.html' %}
{% load static %}
{% block content %}
<section class="text-center overflow-hidden py-0" data-zanim-timeline="{}" data-zanim-trigger="scroll">

    <div class="bg-holder overlay  parallax" style="background-image:url({% static 'img/header-9.jpg' %});">
    </div>
    <!--/.bg-holder-->

    <div class="container-fluid">
      <div class="header-overlay"></div>
      <div class="position-relative pt-10 pb-8">
        <div class="header-text">
          <div class="overflow-hidden">
            <h1 class="display-3 fs-7 text-white fw-lighter ls-2" data-zanim-xs='{"duration":2,"delay":0}'>List of Brands</h1>
          </div>
          <div class="overflow-hidden">
            <div class="d-flex justify-content-center" data-zanim-xs='{"duration":2,"delay":0.1}'>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb text-uppercase ls-2">
                  <li class="breadcrumb-item"><a class="text-400 hover-color-white" href="{% url "page:home" %}">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">List of Brands</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->
  </section>
  <!-- <section> close ============================-->

  <!-- <section> begin ============================-->
  <section class="text-center pb-6">

    <div class="container">
      <div class="row">
        <div class="col-12 mb-5" data-zanim-timeline="{}" data-zanim-trigger="scroll">
          <div class="overflow-hidden">
            <h3 class="fw-normal mb-1" data-zanim-xs='{"duration":1.5,"delay":0}'>List of Brands</h3>
          </div>
          <div class="overflow-hidden">
            <p class="mb-0 ls-1 text-uppercase" data-zanim-xs='{"duration":1.5,"delay":0.1}'>We're Here To make things Easier</p>
          </div>
          <div class="overflow-hidden">
            <hr class="hr-short bg-black opacity-100" data-zanim-xs='{"duration":1.5,"delay":0.2}'>
          </div>
        </div>
        <div class="col-12">
          <div class="row sortable sortable-container-gutter-fix" data-rp-isotope='{"layoutMode":"packery"}'>
            <div class="col-lg-10 order-1 order-lg-0 position-relative">
              <div class="row gx-3">
                {% for brand in brands %}
                  <div class="col-6 mb-3 isotope-item {% for item in brand.line.all  %}{{ item.slug }} {% endfor %}" data-zanim-xs='{"delay":0.3}'>
                      <div class="hoverdir-item my-0" data-zanim-xs='{"duration":1.5,"animation":"zoom-in","delay":0}'>
                          <div class="hoverdir-item-content">
                              <a class="d-block" href="{% url "brands:detail_view" brand.slug %}">
                              <img class="img-fluid rounded" src="{{ brand.image.url }}" alt="{{ brand.title }}"/>
                              <div class="hoverdir-text">
                                  <h3 class="text-white lh-1 fs-2">{{ brand.title }}</h3>
                                  {% comment %} <p class="ls-1 mb-0 text-700"> {{ brand.title }}</p> {% endcomment %}
                              </div>
                              </a>
                          </div>
                      </div>
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="col-lg-2 order-0 order-lg-1 position-relative">
                <div class="menu mb-3 flex-lg-column text-start justify-content-center sticky-top work-alt-sticky-nav" data-filter-nav>
                    <a class="isotope-nav text-uppercase active" href="#work-alt" data-filter="*">all</a>
                    {% for line in lines %}
                    <a class="isotope-nav text-uppercase" href="#work-alt" data-filter=".{{ line.slug }}">{{ line.title }}</a>
                    {% endfor %}
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->
  </section>
<!-- <section> close ============================-->
{% endblock content %}