{% extends 'base/main_base.html' %}
{% load thumbnail %}
{% load static %}
{% block seo_tags %}
    <meta name="description" content="{{ brand.seo_description }}"/>
    <meta property="og:locale" content="en"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ brand.title }}"/>
    <meta property="og:description" content="{{ brand.seo_description }}"/>
    <meta property="og:url" content="{{ request.path }}"/>
    <meta name="keywords" content="{{ brand.keywords }}">
{% endblock seo_tags %}
{% block title %}{{ brand.title }}{% endblock title %}
{% block content %}
<!-- <section> begin ============================-->
<section class="text-center overflow-hidden py-0" data-zanim-timeline="{}" data-zanim-trigger="scroll">
    <div class="bg-holder overlay overlay-2 parallax" style="background-image:url({{ brand.banner.url }});">
    </div>
    <!--/.bg-holder-->
    <div class="container-fluid">
        <div class="header-overlay"></div>
        <div class="position-relative pt-10 pb-8">
        <div class="header-text">
            <div class="overflow-hidden">
            <h1 class="display-3 fs-7 text-white fw-lighter ls-2" data-zanim-xs='{"duration":2,"delay":0}'>{{ brand.title }}</h1>
            </div>
            <div class="overflow-hidden">
            <div class="d-flex justify-content-center" data-zanim-xs='{"duration":2,"delay":0.1}'>
                <nav aria-label="breadcrumb">
                <ol class="breadcrumb text-uppercase ls-2">
                    <li class="breadcrumb-item"><a class="text-400 hover-color-white" href="{% url "page:home" %}">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-400 hover-color-white" href="{% url "brands:list_view" %}">Brands</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ brand.title }}</li>
                </ol>
                </nav>
            </div>
            </div>
        </div>
        </div>
    </div>
    <!-- end of .container-->
</section>
<!-- <section> close ============================-->
<!-- <section> begin ============================-->
<section>
    <div class="container">
        <div class="row">
        <div class="col-lg-8 pe-lg-5 mb-4 mb-lg-0 position-relative">
            <h2 class="text-transform-none fw-medium">{{ brand.title }}</h2>
            {{ brand.description|safe }}
            <div class="vertical-line"></div>
            <div class="row">
                <div class="col-12">
                    <h4 class="fw-normal mb-3">Image Gallery</h4>
                </div>
                <div class="swiper theme-slider" data-swiper='{"spaceBetween":30,"loop":true,"slidesPerView":1,"breakpoints":{"670":{"slidesPerView":2},"1200":{"slidesPerView":3}}}'>
                    <div class="swiper-wrapper">
                        {% for item in brand.sliders.all  %}
                        <div class="swiper-slide">
                            <a href="{{ item.image.url }}" data-gallery="gallery-1">
                                <img class="img-fluid rounded" src="{{ item.image.url }}" alt="{{ item.title }}" />
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-nav">
                      <div class="swiper-button-prev"></div>
                      <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 ps-lg-4">
            <h5 class="fw-normal mb-1">Informations</h5>
            <table class="table table-borderless mb-0">
            <tr>
                <td class="py-1 ps-0 text-dark">Website: </td>
                <td class="py-1"><a class="text-600" target="_blank" href="https://{{ brand.website }}">{{ brand.website }}</a></td>
            </tr>
            <tr>
                <td class="py-1 ps-0 text-dark">Category:</td>
                <td class="py-1 text-600">{% for item in brand.line.all  %}{% if forloop.first %}{% else %}, {% endif %}{{ item.title }} {% endfor %}</td>
            </tr>
            <tr>
                <td class="py-1 ps-0 text-dark">Founded:</td>
                <td class="py-1 text-600">{{ brand.founded|date:"M d, Y" }}</td>
            </tr>
            <tr>
                <td class="py-1 ps-0 text-dark">Socials:</td>
                <td class="py-1 text-600">
                    <li class="list-inline-item me-0">
                        {% for item in brand.socials.all  %}<a class="text-900 hover-color-white pe-2" href="{{ item.link }}"><span class="{{ item.icon }}"></span></a>{% endfor %}
                    </li>
                </td>
            </tr>
            {% if brand.tags.all %}
            <tr>
                <td class="py-1 ps-0 text-dark">Tags:</td>
                <td class="py-1 text-600">
                    {% for item in brand.tags.all  %}<a class="btn btn-dark btn-sm hvr-sweep-top me-1 mb-1" href="#!">{{ item.title }}</a>{% endfor %}
                </td>
            </tr>
            {% endif %}
            </table>
        </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr class="mt-5 mb-4" />
                <h4 class="fw-normal mb-3">Latest News</h4>
            </div>
            <div class="swiper theme-slider" data-swiper='{"spaceBetween":30,"loop":true,"slidesPerView":1,"breakpoints":{"670":{"slidesPerView":2},"1200":{"slidesPerView":3}}}'>
                <div class="swiper-wrapper">
                {% for item in latest %}
                    <div class="swiper-slide">
                        <a href="{% url "news:detail_view" item.slug %}">
                        <div class="card text-white" style="max-width: 30rem;">
                            <div class="card-img overflow-hidden">
                                <div class="bg-holder overlay" data-rellax-percentage="0.5">
                                </div>
                                {% thumbnail item.thumbnail "347x195" crop="center" as im %}
                                <img class="img-fluid w-100" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ item.slug }}">
                                {% endthumbnail %}
                            </div>
                            <div class="card-img-overlay d-flex align-items-end">
                                <div>
                                <h5 class="card-title text-white">{{ item.title|truncatechars:20 }}</h5>
                                <p class="card-text">{{ item.description|safe|truncatechars:60 }}</p>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                {% endfor %}
                </div>
                <div class="swiper-nav">
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of .container-->
</section>
<!-- <section> close ============================-->
{% endblock content %}