{% extends 'base/main_base.html' %}
{% load thumbnail %}
{% load static %}
{% block seo_tags %}
    <meta name="description" content="The list of brands"/>
    <meta property="og:locale" content="en"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="Brands"/>
    <meta property="og:description" content="The list of brands"/>
    <meta property="og:url" content="{% url 'brands:list_view' %}"/>
    <meta name="keywords" content="EHGH Brands">
{% endblock seo_tags %}
{% block title %}Brands{% endblock title %}
{% block content %}
<section class="text-center overflow-hidden py-0" data-zanim-timeline="{}" data-zanim-trigger="scroll">
  <div class="bg-holder overlay  parallax" style="background-image:url({% static 'img/header-9.jpg' %});">
  </div>
  <!--/.bg-holder-->
  <div class="container-fluid">
    <div class="header-overlay"></div>
    <div class="position-relative pt-10 pb-8">
      <div class="header-text">
        <div class="overflow-hidden">
          <h1 class="display-3 fs-7 text-white fw-lighter ls-2" data-zanim-xs='{"duration":2,"delay":0}'>List of Brands</h1>
        </div>
        <div class="overflow-hidden">
          <div class="d-flex justify-content-center" data-zanim-xs='{"duration":2,"delay":0.1}'>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb text-uppercase ls-2">
                <li class="breadcrumb-item"><a class="text-400 hover-color-white" href="{% url "page:home" %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Brands</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of .container-->
</section>
<!-- <section> close ============================-->
<!-- <section> begin ============================-->
<section class="text-center pb-6">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5" data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <div class="overflow-hidden">
          <h3 class="fw-normal mb-1" data-zanim-xs='{"duration":1.5,"delay":0}'>List of Brands</h3>
        </div>
        <div class="overflow-hidden">
          <p class="mb-0 ls-1 text-uppercase" data-zanim-xs='{"duration":1.5,"delay":0.1}'>We're Here To make things Easier</p>
        </div>
        <div class="overflow-hidden">
          <hr class="hr-short bg-black opacity-100" data-zanim-xs='{"duration":1.5,"delay":0.2}'>
        </div>
      </div>
          <div class="row g-2 position-relative thumbnail-grid-container" id="selector">
            {% for item in brands %}
            <div class="col-12 col-sm-6 col-lg-4 thumbnail-grid-item" style="margin-bottom: unset; z-index: 10;">
              <img class="thumbnail-gridder img-fluid collapsed" src="{{ item.thumbnail.url }}" alt="{{ item.slug }}" alt="{{ item.slug }}" data-bs-toggle="collapse" data-bs-target="#collapse-{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse-{{ forloop.counter }}">
              <div class="position-absolute start-0">
                <div class="thumbnail-grid-content collapse" data-bs-parent="#selector" id="collapse-{{ forloop.counter }}" style="">
                  <div class="card card-body border-0 bg-100 m-2 px-4">
                    <div class="row align-items-center">
                      <div class="thumbnail-grid-navigation">
                        <a class="thumbnail-close" href="#!"><svg class="svg-inline--fa fa-times fa-w-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg></a>
                        <a class="thumbnail-grid-nav prev {% if forloop.first %}disabled{% endif %}" href="#!" data-grid-target="#collapse-{{ forloop.counter|add:-1 }}" data-thumbnail-grid-nav="data-thumbnail-grid-nav"><svg class="svg-inline--fa fa-angle-left fa-w-8" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"></path></svg></a>
                        <a class="thumbnail-grid-nav next {% if forloop.last %}disabled{% endif %}" href="#!" data-grid-target="#collapse-{{ forloop.counter|add:1 }}" data-thumbnail-grid-nav="data-thumbnail-grid-nav"><svg class="svg-inline--fa fa-angle-right fa-w-8" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg></a></div>
                      <div class="col-7">
                        <div class="d-none d-lg-block p-0">
                          <img class="w-100 img-fluid rounded" src="{{ item.thumbnail.url }}" alt="{{ item.slug }}">
                        </div>
                      </div>
                      <div class="col-lg-5">
                        <h5 class="ls-1">{{ item.title }}</h5>
                        <p>{{ item.description|safe|truncatewords:50 }}</p><a class="btn btn-outline-dark btn-sm hvr-sweep-top hover-color-white mt-2" href="{% url "brands:detail_view" item.slug %}">read more</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        <!-- end of .container-->
    </div>
  </div>
  <!-- end of .container-->
</section>
<!-- <section> close ============================-->
{% endblock content %}