{% extends 'base/main_base.html' %}
{% load thumbnail %}
{% load static %}
{% block seo_tags %}
    <meta name="description" content="{{ news.seo_description }}"/>
    <meta property="og:locale" content="en"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ news.title }}"/>
    <meta property="og:description" content="{{ news.seo_description }}"/>
    <meta property="og:url" content="{{ request.path }}"/>
    <meta name="keywords" content="{{ news.keywords }}">
{% endblock seo_tags %}
{% block title %}{{ news.title }}{% endblock title %}
{% block content %}
<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="text-center overflow-hidden py-0" data-zanim-timeline="{}" data-zanim-trigger="scroll">
  <div class="bg-holder overlay  parallax" style="background-image:url({{ news.banner.url }});">
  </div>
  <!--/.bg-holder-->
  <div class="container-fluid">
    <div class="header-overlay"></div>
    <div class="position-relative pt-10 pb-8">
      <div class="header-text">
        <div class="overflow-hidden">
          <h1 class="display-3 fs-7 text-white fw-lighter ls-2" data-zanim-xs='{"duration":2,"delay":0}'>{{ news.title }}</h1>
        </div>
        <div class="overflow-hidden">
          <div class="d-flex justify-content-center" data-zanim-xs='{"duration":2,"delay":0.1}'>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb text-uppercase ls-2">
                <li class="breadcrumb-item"><a class="text-400 hover-color-white" href="{% url "page:home" %}">Home</a></li>
                <li class="breadcrumb-item"><a class="text-400 hover-color-white" href="{% url "news:list_view" %}">News</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ news.title }}</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of .container-->
</section>
<!-- <section> close ============================-->
<!-- <section> begin ============================-->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mb-4 mb-lg-0"><img class="img-fluid rounded" src="{{ news.image.url }}" alt="" />
        <h2 class="mt-4 text-transform-none fw-medium">{{ news.title }}</h2>
        <div class="mb-4">By<a class="text-700" href="#!"> {{ news.author.first_name|title }}</a><span class="mx-2 text-700">|</span>
          <a class="text-700" href="#!">{{ news.publish|date:"d M, Y"  }}</a><span class="mx-2 text-700">|</span>
          {% for cat in news.category.all %}<a class="text-700" href="#!">{% if forloop.first %}{% else %}, {% endif %}{{ cat.title }}</a>{% endfor %}
        </div>
        {{ news.description|safe }}
      </div>
      <div class="col-lg-5 ps-lg-7">
        {% comment %} <div class="form-group">
          <input class="form-control" type="text" placeholder="Search..." />
        </div> {% endcomment %}
        <h4 class="mt-4 mb-3 fw-normal">Latest Posts</h4>
        {% for blog in latest %}
        <div class="d-flex mt-3">
          <a href="{% url "news:detail_view" blog.slug %}">
            {% thumbnail blog.thumbnail "120x74" crop="center" as im %}
            <img class="rounded" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ blog.slug }}">
            {% endthumbnail %}
          </a>
          <div class="flex-1 ms-3">
            <h5 class="lh-sm mt-0 text-transform-none fs-0 mb-1 fw-semi-bold font-base"><a class="text-900" href="{% url "news:detail_view" blog.slug %}">{{ blog.title }}</a></h5>
            <p class="text-600 mb-0">{{ news.publish|date:"d M, Y"  }}</p>
          </div>
        </div>
        {% endfor %}
        {% if news.tags.all %}
        <h4 class="mt-5 mb-3 fw-normal">Tags</h4>
        {% for tag in news.tags.all %}
        <a class="btn btn-dark btn-sm hvr-sweep-top me-1 mb-1" href="#!">{{ tag.title }}</a>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
  <!-- end of .container-->
</section>
<!-- <section> close ============================-->
{% endblock  %}