{% extends 'base/main_base.html' %}
{% load thumbnail %}
{% load static %}
{% block content %}
<!-- ALL PAGES -->
<div class="industify_fn_all_pages">
    <div class="industify_fn_all_pages_inner">
        <!-- WITH SIDEBAR -->
        <div class="industify_fn_sidebarpage">
            <div class="container">
                <!-- PAGE TITLE -->
                <div class="industify_fn_pagetitle">
                    <div class="title_holder">
                        <h3>News &#038; Articles</h3>
                        <div class="industify_fn_breadcrumbs">
                            <ul id="breadcrumbs" class="breadcrumbs">
                                <li class="item-home"><a class="bread-link bread-home"
                                        href="{% url 'page:home' %}"
                                        title="Home">Home</a></li>
                                <li class="separator separator-home"> <span></span> </li>
                                <li class="item-current item-72"><span
                                        class="bread-current bread-72"> News &#038; Articles</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /PAGE TITLE -->
                <div class="s_inner">
                    <div class="industify_fn_leftsidebar"
                        style=padding-top:70px;padding-bottom:147px;>
                        <ul class="industify_fn_postlist">
                            {% for item in news %}
                            <li>
                                <div class="post has-post-thumbnail">
                                    <div class="time"><span></span>
                                        <h3>{{ item.publish|date:"d" }}</h3><h5>{{ item.publish|date:"M" }}</h5><h5>{{ item.publish|date:"Y" }}</h5></div>
                                    <div class="img_holder">
                                        <a href="{% url 'news:detail_view' item.slug %}">
                                            {% thumbnail item.image "820x461" as im %}
                                            <img src="{{ im.url }}" alt="{{ item.title }}"/>
                                            {% endthumbnail %}
                                        </a>
                                        <span class="shape1"></span><span class="shape2"></span>
                                    </div>
                                    <div class="content_holder">
                                        <div class="info_holder">
                                            <p>
                                                <span class="t_author">By <a href="#"
                                                                             target="_blank">Ehsan Group</a></span>
                                                <span class="t_category">{% for cat in item.category.all %} {{ cat.title }}{% endfor %}</span>
                                            </p>
                                        </div>
                                        <div class="title">
                                            <h3>{{ item.title }}</h3>
                                        </div>
                                        <div class="excerpt_holder">
                                            {{ item.description|safe|truncatewords:40 }}
                                        </div>
                                        <div class="read_holder">
                                            <p><a href="{% url 'news:detail_view' item.slug %}">Read More</a></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
              <!-- Main Sidebar: Right -->
            <div class="industify_fn_rightsidebar">
                <!-- Service List -->
                <div class="service_list_as_function">
                    <div class="title">
                        <h3>Latest News</h3>
                    </div>
                    <div class="list_holder">
                        <ul>
                            {% for each in news %}
                                <li><a href="{% url 'news:detail_view' each.slug %}">{{ each.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- /Service List -->

                <!-- Get Sidebar -->
                <div class="industify_fn_sidebar">
<div class="industify_fn_sidebar_in">

<div class="widget_block">
    <div class="industify_fn_widget_estimate">
        <div class="img_holder">
            <span class="helper1" style="border-left-width: 80px; border-top-width: 55px;"></span>
            <span class="helper2" style="border-right-width: 220px; border-top-width: 55px;"></span>
            <span class="helper3" style="border-left-width: 80px; border-top-width: 80px;"></span>
            <span class="helper4" style="border-right-width: 220px; border-top-width: 80px;"></span>
            <span class="helper5" style="border-left-width: 80px; border-top-width: 80px;"></span>
            <span class="helper6" style="border-right-width: 220px; border-top-width: 80px;"></span>
            <div class="abs_img" data-fn-bg-img="{% static 'img/sidebar.jpg'%}" style="background-image: url({% static 'img/sidebar.jpg'%});"></div>
        </div>
        <div class="bfwe_inner">
            <p>Ehsan Group is a well-known brand with more than 30 years of brilliant history</p>
            <a href="contact.html">Contact Us</a>
        </div>
    </div>
</div>

</div>
</div>
                <!-- /Get Sidebar -->


            </div>
            <!-- Main Sidebar: Right -->
                </div>
            </div>
        </div>
        <!-- /WITH SIDEBAR -->

    </div>
</div>
<!-- /ALL PAGES -->
{% endblock %}