{% extends 'base/main_base.html' %}
{% load thumbnail %}
{% load static %}
{% block content %}
<!-- ALL PAGES -->
<div class="industify_fn_all_pages">
    <div class="industify_fn_all_pages_inner">


        <!-- WITH SIDEBAR -->
        <div class="industify_fn_sidebarpage">
            <div class="container">
                <!-- PAGE TITLE -->
                <div class="industify_fn_pagetitle">
                    <div class="title_holder">
                        <h3>News &#038; Articles</h3>
                        <div class="industify_fn_breadcrumbs">
                            <ul id="breadcrumbs" class="breadcrumbs">
                                <li class="item-home"><a class="bread-link bread-home"
                                        href="https://frenify.com/work/envato/frenify/wp/industify/1"
                                        title="Home">Home</a></li>
                                <li class="separator separator-home"> <span></span> </li>
                                <li class="item-current item-72"><span
                                        class="bread-current bread-72"> News &#038; Articles</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /PAGE TITLE -->
                <div class="s_inner">

                    <div class="industify_fn_leftsidebar"
                        style=padding-top:70px;padding-bottom:147px;>
                        <ul class="industify_fn_postlist">

                            <li>
                                <div class="post has-post-thumbnail">
                                    <div class="time"><span></span>
                                        <h3>28</h3><h5>Aug</h5><h5>2021</h5></div>
                                    <div class="img_holder">
                                        <a href="company-1.html"><img src="{% static 'img/blog/1.jpg' %}" alt=""/></a>
                                        <span class="shape1"></span><span class="shape2"></span>
                                    </div>
                                    <div class="content_holder">
                                        <div class="info_holder">
                                            <p>
                                                <span class="t_author">By <a href="https://frenify.com/"
                                                                             target="_blank">Frenify</a></span>
                                                <span class="t_category">In Australia</span>
                                            </p>
                                        </div>
                                        <div class="title">
                                            <h3><a href="company-1.html">Laing O’Rourke: Moves, projects and bids</a></h3>
                                        </div>
                                        <div class="excerpt_holder">
                                            <p>Seymour Whyte employs 475 people and generated revenue of A$433 million in the
                                                fiscal year ended on 30 June 2017. Founded in 1987, Seymour Whyte is a
                                                well-known Australian company operating in the fields of civil engineering.
                                                Acquisition of 100% of Seymour Whyte’s shares 2017</p>
                                        </div>
                                        <div class="read_holder">
                                            <p><a href="company-1.html">Read More</a></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="post has-post-thumbnail">
                                    <div class="time"><span></span>
                                        <h3>27</h3><h5>Aug</h5><h5>2021</h5></div>
                                    <div class="img_holder">
                                        <a href="blog-single-2.html"><img src="{% static 'img/blog/2.jpg' %}" alt=""/></a>
                                        <span class="shape1"></span><span class="shape2"></span>
                                    </div>
                                    <div class="content_holder">
                                        <div class="info_holder">
                                            <p>
                                                <span class="t_author">By <a href="https://frenify.com/"
                                                                             target="_blank">Frenify</a></span>
                                                <span class="t_category">In Discussion</span>
                                            </p>
                                        </div>
                                        <div class="title">
                                            <h3><a href="blog-single-2.html">How to turn Victorian gasholders apartments</a>
                                            </h3>
                                        </div>
                                        <div class="excerpt_holder">
                                            <p>Seymour Whyte employs 475 people and generated revenue of A$433 million in the
                                                fiscal year ended on 30 June 2017. Founded in 1987, Seymour Whyte is a
                                                well-known Australian company operating in the fields of civil engineering.
                                                Acquisition of 100% of Seymour Whyte’s shares 2017</p>
                                        </div>
                                        <div class="read_holder">
                                            <p><a href="blog-single-2.html">Read More</a></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="post has-post-thumbnail">
                                    <div class="time"><span></span>
                                        <h3>26</h3><h5>Aug</h5><h5>2021</h5></div>
                                    <div class="img_holder">
                                        <a href="blog-single-3.html"><img src="{% static 'img/blog/3.jpg' %}" alt=""/></a>
                                        <span class="shape1"></span><span class="shape2"></span>
                                    </div>
                                    <div class="content_holder">
                                        <div class="info_holder">
                                            <p>
                                                <span class="t_author">By <a href="https://frenify.com/"
                                                                             target="_blank">Frenify</a></span>
                                                <span class="t_category">In Industry</span>
                                            </p>
                                        </div>
                                        <div class="title">
                                            <h3><a href="blog-single-3.html">CITB appoints Peter Lauener as new chairman</a>
                                            </h3>
                                        </div>
                                        <div class="excerpt_holder">
                                            <p>Seymour Whyte employs 475 people and generated revenue of A$433 million in the
                                                fiscal year ended on 30 June 2017. Founded in 1987, Seymour Whyte is a
                                                well-known Australian company operating in the fields of civil engineering.
                                                Acquisition of 100% of Seymour Whyte’s shares 2017</p>
                                        </div>
                                        <div class="read_holder">
                                            <p><a href="blog-single-3.html">Read More</a></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="post has-post-thumbnail">
                                    <div class="time"><span></span>
                                        <h3>26</h3><h5>Aug</h5><h5>2021</h5></div>
                                    <div class="img_holder">
                                        <a href="blog-single-3.html"><img src="{% static 'img/blog/3.jpg' %}" alt=""/></a>
                                        <span class="shape1"></span><span class="shape2"></span>
                                    </div>
                                    <div class="content_holder">
                                        <div class="info_holder">
                                            <p>
                                                <span class="t_author">By <a href="https://frenify.com/"
                                                                             target="_blank">Frenify</a></span>
                                                <span class="t_category">In Industry</span>
                                            </p>
                                        </div>
                                        <div class="title">
                                            <h3><a href="blog-single-3.html">CITB appoints Peter Lauener as new chairman</a>
                                            </h3>
                                        </div>
                                        <div class="excerpt_holder">
                                            <p>Seymour Whyte employs 475 people and generated revenue of A$433 million in the
                                                fiscal year ended on 30 June 2017. Founded in 1987, Seymour Whyte is a
                                                well-known Australian company operating in the fields of civil engineering.
                                                Acquisition of 100% of Seymour Whyte’s shares 2017</p>
                                        </div>
                                        <div class="read_holder">
                                            <p><a href="blog-single-3.html">Read More</a></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
        
                        </ul>

                    </div>

                                <!-- Main Sidebar: Right -->
            <div class="industify_fn_rightsidebar">


                <!-- Service List -->
                <div class="service_list_as_function">
                    <div class="title">
                        <h3>Latest News</h3>
                    </div>
                    <div class="list_holder">
                        <ul>
                            <li><a href="#">Steel Behzad</a></li>
                            <li><a href="#">Foolad Shop</a></li>
                            <li><a href="#">Radman Group</a></li>
                            <li><a href="#">Smart System</a></li>
                            <li><a href="#">Pedalica</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /Service List -->

                <!-- Get Sidebar -->
                <div class="industify_fn_sidebar">
<div class="industify_fn_sidebar_in">

<div class="widget_block">
    <div class="industify_fn_widget_estimate">
        <div class="img_holder">
            <span class="helper1" style="border-left-width: 80px; border-top-width: 55px;"></span>
            <span class="helper2" style="border-right-width: 220px; border-top-width: 55px;"></span>
            <span class="helper3" style="border-left-width: 80px; border-top-width: 80px;"></span>
            <span class="helper4" style="border-right-width: 220px; border-top-width: 80px;"></span>
            <span class="helper5" style="border-left-width: 80px; border-top-width: 80px;"></span>
            <span class="helper6" style="border-right-width: 220px; border-top-width: 80px;"></span>
            <div class="abs_img" data-fn-bg-img="{% static 'img/sidebar.jpg'%}" style="background-image: url({% static 'img/sidebar.jpg'%});"></div>
        </div>
        <div class="bfwe_inner">
            <p>Ehsan Group is a well-known brand with more than 30 years of brilliant history</p>
            <a href="contact.html">Contact Us</a>
        </div>
    </div>
</div>

</div>
</div>
                <!-- /Get Sidebar -->


            </div>
            <!-- Main Sidebar: Right -->
                </div>
            </div>
        </div>
        <!-- /WITH SIDEBAR -->

    </div>
</div>
<!-- /ALL PAGES -->
{% endblock %}